:root {
  --primary-color: #00a8ff;
  --text-color: #fff;
  --green: #0e7134;
  --blue-dark: #0972a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--primary-color);
  font-family: 'Work Sans', sans-serif;
  color: var(--text-color);
  line-height: 1.5em;

}
h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
p {
  text-align: justify;
}
.container {
  max-width: 700px;
  margin: 80px auto;
  background-color: var(--blue-dark);
  padding: 30px;
  border-radius: 10px;
}

.calculator {
  width: 50%;
  margin: 0 auto;
}

input:disabled {
  background-color: var(--text-color);
  border: none;
  border-radius: 5px;
  color: #000;
}
input:focus {
  outline: none;
}
.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}


.button {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--text-color);
  opacity: .7;
  cursor: pointer;
  font-weight: 700;
  transition: opacity .2s;
}

.button:hover {
  opacity: 1;
}
.button:active {
  background: var(--green);
}